 {
     box-sizing: border-box;
 }

 body, html, ul, li {
     margin: 0px;
     padding: 0px;
 }

 h1, h2, h3, h4, h5, h6{
     margin: 0.1em;
 }

 ul{
     list-style-type: none;
 }



@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}

.centerContent {
    width: var(--centerWidth);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    padding: 1rem;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;

    color: white;
    background-color: #2ecc71;
    border: none;

    width: 12em;
}

.btnPro{
    background-color: #f39c12;
}




:root {
    --centerWidth: 80%;
    --featuredItemRowDir: column;
    --navRowDir: column;
}

@media(min-width: 1600px) {
    :root {
        --centerWidth: 40%;
        --featuredItemRowDir: row;
        --navRowDir: row;
    }

    .featuredItemRow:first-child {
        flex-direction: row-reverse;
    }
}






.navRow {
    width:px;
    margin: 0;
    font-size:  1.5em;
    display: ;
    
}

.navRow > ul {
    display: ;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-direction: var(--navRowDir);
}

.navRow > ul > li {
    flex: 1;
    padding: 5px;
    display: inline-block;
    font-family: sans-serif;
    color: cadetblue;
    
} 
.navRow a {
    text-decoration: none;
    font-size: 25px;
    text-align: left;
    display: block;
    color: darkolivegreen;
}
#navLogo {
    flex: ;
    font-weight: bold;
    display: ;
    flex-direction: ;
    align-items: ;
    width: 200px;
}

#navLogo {
    font-size: 1.5em;
    margin: 0.2em;
    
}



.heroRow {
    font-size: 1.5em;
    display: inline-block;
    flex-direction: column;

    color: white;
    background-color: #2c3e50;

    align-items: center;
    text-align: center;

    padding: 2em;
}

.heroRow > .centerContent > h1 {
    text-transform: uppercase;
}

.buttonRow {
    display: flex;
    justify-content: space-around;
    width: 80%;
}



.emailRow {
    display: flex;
    flex-direction: column;
    color: white;
    background-color: #2ecc71;
    background-image: url("img/sanfransiscoGreen.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    text-align: center;
    padding: 2em;

}

.emailForm {
    display: flex;
    width: 100%;
}

.emailRow > .centerContent > h1 {
    padding: 1em;
}

.emailForm > input[type="text"] {
    flex: 8;
    border: none;
    padding: 1.2em;
    text-align: center;
}

.emailForm > button {
    flex: 1;

    padding: 1rem;
    font-weight: bold;
    border: none;
    background-color: #f39c12;
    color: white;
    font-size: 1rem;
    text-transform: uppercase;
}

.featuresRow {
    display: flex;
    justify-content: center;
    padding: 40px;

}

.featuredItemRow {
    display: flex;
    flex: 1;
    
    flex-direction: var(--featuredItemRowDir);

}

.featuredItemBox {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 1em;
}

featuredItemBox > h1 {
    margin-bottom: 15px;
    padding-top: 10PX;
}

.featuredItemBox > img {
    width: 80%;
    height: auto;
}
#featureedItemBox > p {
    font-family: sans-serif;
    font-size: 24px;
    font-style: bold;
}
#featureItemButton {

  font-family: Arial;
  font-size: 24px;
  width: 30%;
    
}

#featureItemButton {
    display: block;
  text-align: center;
  font-weight: bold;
  color:#fff;
  text-decoration: none;
  background-color: #0675B8;
  padding:10px 5px;
   margin-left:auto;
    margin-right:auto;
    
  
:active{
  position: relative;
  top:3px;
  left:2px;
  box-shadow: 0px 0px;
}

#featureItemButton:hover{
  background-color: #fff;
  color:#0675B8;
  font-weight: bold;
}
}

.premiumRow {
    text-transform: uppercase;
    display: flex;
    color: white;
    flex-direction: column;
    background-color: #2c3e50;
    background-image: url("/img/NYCBlue.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    text-align: center;
    padding: 4em;
}

.premiumRow > .centerContent > h1 {
    padding: 1em;
}



.socialRow {
    display: flex;
    justify-content: center;
    padding: 2em;
}

.socialRow > .centerContent > ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.socialRow > .centerContent > ul > li {
    background-color: #2c3e50;
    border-radius: 50%;
    text-align: center;
    padding: 1.5em;
    color: white;
    fill: white;
}
*/